#button-bar {
  -fx-arc-width: auto;
  -fx-fill-height: auto;
}

#options-bar {
  -fx-background-color: rgb(129, 204, 129, 0.3);
}

.buttonsBar {
  -fx-background-color: rgb(142, 187, 142);
  -fx-text-fill: white;
}

.buttonsBarExit {
  -fx-background-color: rgb(142, 187, 142);
  -fx-text-fill: white;
}

.buttonsBarExit:hover {
  -fx-background-color: rgb(201, 104, 104);
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 4);
  -fx-text-fill: white;
}

.buttonsBar:hover {
  -fx-background-color: rgb(238, 234, 223);
  -fx-fill: black;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 4);
}

.buttonsBarSelected {
  -fx-background-color: rgb(238, 234, 223);
  -fx-fill: black;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 4);
}

#panePrincipal {
  -fx-background-color: rgb(238, 234, 223);
  -fx-font-family: Tahoma;
  -fx-font-size: 14;
}

#drawArea {
  /*rgb(160, 160, 160, 0.5);*/
  -fx-background-color: rgb(129, 204, 129, 0.3);
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 4);
  -fx-background-radius: 15px;
  -fx-background-image: url(../images/modelo.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 650px 250px;
  -fx-background-position: center;
}

#buttonSFP {
  -fx-background-color: rgb(142, 187, 142);
  -fx-background-radius: 20, 20, 20, 20;
}

.stackPane {
  -fx-background-image: url(../images/logoGray.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 490px 490px;
  -fx-background-position: center;
}

.logo {
  -fx-background-image: url(../images/logo.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 190px 190px;
  -fx-background-position: center;
}

#contentArea {
  /* -fx-background-color: rgb(234, 223238); */
  -fx-background-color: rgb(238, 234, 223, 0.7);
  -fx-font-family: Tahoma;
  -fx-font-size: 14;
}

.helpText {
  -fx-font-family: Tahoma;
  -fx-font-size: 18;
}

#loginPane {
  -fx-background-color: rgb(238, 234, 223, 0.7);
  -fx-background-radius: 20, 20, 20, 20;
  -fx-effect: dropshadow(
    gaussian,
    rgba(0, 0, 0, 0.5),
    99999999999999999999999999,
    0,
    0,
    8
  );
  -fx-font-family: Tahoma;
  -fx-font-size: 14;
}

#managementPane {
  -fx-background-color: rgb(238, 234, 223);
  /* -fx-background-radius: 20, 20, 20, 20; */
  /* -fx-effect: dropshadow(
    gaussian,
    rgba(0, 0, 0, 0.5),
    99999999999999999999999999,
    0,
    0,
    8
  ); */
  -fx-font-family: Tahoma;
  -fx-font-size: 14;
}

.valueTable .cell {
  -fx-alignment: center;
}

.variableTable .cell {
  -fx-alignment: center;
}

.formulaTable .cell {
  -fx-alignment: center;
}

#statusLabel .case1 {
  -fx-text-fill: rgb(211, 3, 3);
}

#statusLabel .case2 {
  -fx-text-fill: rgb(4, 212, 14);
}

#statusLabel .case3 {
  -fx-text-fill: rgb(4, 212, 14);
}

#statusLabel .case4 {
  -fx-text-fill: rgb(221, 224, 3);
}

#loadingPane {
  -fx-background-color: rgb(238, 234, 223, 1);
  -fx-background-image: url(../images/logo.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 350px 350px;
  -fx-background-position: center;
}

#loadingBar {
  -fx-accent: #00d900;
}

#analysisPane {
  -fx-background-color: rgb(238, 234, 223, 0.8);
  -fx-background-radius: 20, 20, 20, 20;
  -fx-effect: dropshadow(
    gaussian,
    rgba(0, 0, 0, 0.5),
    99999999999999999999999999,
    0,
    0,
    8
  );
  -fx-font-family: Tahoma;
  -fx-font-size: 14;
}
